#documentation_options {
}

#theme-css {
}

#pygments-css {
}

#_carbonads_js {
}

#theme-button {
}

#rtd-search-form {
}

#welcome-to-pyrogram {
}

#support {
}

#how-the-documentation-is-organized {
}

#first-steps {
}

#api-reference {
}

#meta {
}

#banner {
    display: none
}

.center-rtd-theme {
}

.wy-grid-for-nav {
}

.wy-nav-side {
}

.wy-side-nav-search {
}

.logo {
}

.pyrogram-text {
}

.support-pyrogram {
    cursor: pointer;
}

.wy-side-scroll {
}

.wy-menu.wy-menu-vertical {
}

.caption {
}

.caption-text {
}

.toctree-l1 {
}

.reference.internal {
}

.pyrogram-version {
}

.wy-nav-content-wrap {
}

.wy-nav-top {
}

.fa.fa-bars {
}

.wy-nav-content {
}

.rst-content.style-external-links {
}

.wy-breadcrumbs {
}

.wy-breadcrumbs-aside {
}

.fa.fa-github {
    font-size: 1.25em
}

.document {
}

.headerlink {
}

.pyrogram-logo-index {
}

.pyrogram-text.pyrogram-text-index {
}

.highlight-python.notranslate {
}

.highlight {
}

.kn {
}

.nn {
}

.n {
}

.p {
}

.o {
}

.s2 {
}

.nd {
}

.k {
}

.nf {
}

.doc {
}

.simple {
}

.reference.external {
}

.guilabel {
}

.hlist {
}

.toctree-wrapper.compound {
}

.rst-footer-buttons {
}

.btn.btn-neutral.float-right {
}

.fa.fa-arrow-circle-right {
}
